body {
    background-color: lightpink;
}

.masthead {
    background: lightpink;
}

.site-title {
    color: black;
}

.main-area {
    padding: 2em;
    background-color: lightpink;
    /*min-height: 520px;*/
}

.elements {
  display: flex;
  padding: 2em;
}


.message h2{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.pink{
    color: deeppink;
}

.yellow{
    color: yellow;
}

.biophoto {
    width:400px;
    height: 500px;
}

.biophoc {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
}

.about article{
    padding: 2em;
}

.about img {
    padding: 2em;
}
