/*
This page contains the styling for the bottom bar of the webpage.
*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: deeppink;
    margin-top: auto;
}

.bottom-link {
    width: auto;
}

#facebook, #youtube {
    font-size: 50px;
}

#facebook {
    margin-right: 10px;
}