.footer {
    background-color: deeppink;
    margin-bottom: 0;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
}

.bottom-bar {
    float: right;
    background-color: deeppink;
    padding: 0px;
}

.bottom-bar li {
    background-color: deeppink;
    list-style-type: none;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    /*border: solid black 1px;*/
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
}

.bottom-bar li:last-child {
    margin-right: 20px;
}

.bottom-bar li, a {
    text-decoration: none;
    color: black;
    /*border: solid black 1px;*/
}

.bottom-bar a {
    margin: 0px;
}

#terms {
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#company_name, #copyright {
    margin-right: 60px;
}

#facebook, #youtube {
    /*background-color: white;*/
    padding: 0px;
    margin-top: 5px;
    /*margin-left: 20px;*/
    /*border: solid black 1px;*/
    float: left;
    font-size: 50px;
    /*height: 50px;*/
}

#facebook {
    /*color: #3b5998;*/
    margin-left: 50px;
}

#youtube {
    /*color: #e52d27;*/
    margin-left: 20px;
}

