.eventsmessage {

}

.events{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
   
    flex: 1 1 auto;
}

.timeline {
    margin-top: 3%;
    padding-left: 60px;
    color: black;
    width:60%;
}

.bookButton {
    width: 100%;
    background-color: #ff66c6;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fb-page {
    border-style: solid;
    border-color: #ff66c6;
}
