/*
This page contains all the classes that modify the style of the main content on the Home page (see home.html)
*/

.home-wrap {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
   
    flex: 1 1 auto;
}

.elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.slideshow-container, .home-video {
    margin-bottom: 2em;
    border: 5px solid black;
}

.message {
    text-align: center;
    max-width: 90%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 75%;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
}

.pink{
    color: deeppink;
}

.yellow{
    color: yellow;
}