
.header {
    display: inline;
    /*background-color: white;*/
}

.nav-bar {
    float: right;
    display: inline;
    background-color: deeppink;
    margin-top: 3%;
    margin-bottom: 0px;
    height: 50px;
    width: 65%;
    /*border: solid black 1px;*/
}

.nav-bar li {
    list-style-type: none;
    display: inline;
    /*margin-top: 30px;*/
    /*margin-bottom: 10px;*/
    /*vertical-algin: middle;*/
    position: relative;
    top: 10px;
    /*border: solid black 1px;*/
}

.nav-bar li:first-child {
    margin-left: 40px;
}

.nav-bar li:last-child {
    /*margin-right: 100px;*/
}

#current_page {
    color: yellow;
}

.nav-bar a {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#web_icon, #web_title {
    height: 50px;
    /*display: inline;*/
    margin-top: 3%;
    float: left;
    background-color: deeppink;
}

#nav-placeholder {
    height: 50px;
    margin-top: 3%;
    float: left;
    width: 3%;
    background-color: white;
}

#web_title {
    width: 300px;
}

#web_icon {
    width: 50px;
    /*margin-left: 20px;*/
}
