/* Base styles that apply to all menus */
.menu-section {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px  hotpink;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: hotpink;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: .6em 1em;
}

.menu li a:hover {
	background: hotpink;
}