/*
This page contains the styling for the navigation bar of the webpage.
*/

.nav-bar, #web_icon, #web_title, #nav-placeholder {
    margin-top: 3%;
}

.nav-bar {
    float: right;
    display: inline;
    background-color: deeppink;
    margin-bottom: 0px;
    height: 50px;
    width: 65%;
}

.nav-bar li {
    list-style-type: none;
    display: inline;
    position: relative;
    top: 18px;
}

.nav-bar li:first-child {
    margin-left: 40px;
}

#current_page {
    color: yellow;
}

.nav-bar a {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#web_icon, #web_title {
    height: 50px;
    float: left;
    background-color: lightpink;
}

#nav-placeholder {
    height: 50px;
    float: left;
    width: 3%;
    background-color: lightpink;
}

#web_title {
    width: 300px;
}

#web_icon {
    width: 50px;
}