/*
This page implements flexbox based on the screensize.
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /*border: 5px solid blue;*/
}
@media screen and (min-width: 50em) {

}
