/*
This page implements flexbox based on the screensize.
*/

@media screen and (min-width: 50em) {
    
    .outer-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    .main-area {
        display: flex;
    }
}
