/*
This page implements flexbox based on the screensize.
*/

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 50em) {

}
