/*
This page imports all the necessary style sheets for the Goofy Grandad Website.
*/

@import url('css/slider.css');
@import url('css/screen.css');
@import url('css/navbar.css');
@import url('css/bottombar.css');
@import url('css/aboutbody.css');
@import url('css/homebody.css');